@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: #0f172a;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
/* .backdrop {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #000000e1;

	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
} */

.modal {
	/* use clamp instead of media queries */
	width: clamp(50%, 700px, 90%);
	height: min(50%, 300px);
	margin: auto;
	padding: 0 2rem;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
}

.pic {
	width: 100%;
	height: 500px;
	overflow: hidden;
	margin: 14 auto;
	display: inline-block;
	position: relative;
	cursor: pointer;
}

.pic:before {
	width: 100%;
	height: 500px;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
}

.pic:after {
	color: #fff;
	font-size: 18px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -20px -25px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	padding: 10px;
}

.move {
	max-width: 100%;
	cursor: pointer;
}

.pic:hover .move {
	animation: moveSlideshow 15s linear;
	animation-fill-mode: forwards;
}

@keyframes moveSlideshow {
	100% {
		transform: translateY(calc(-100% + 500px));
	}
}

.pic:hover .pic:after {
	opacity: 0;
}
